@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@view-transition {
  navigation: auto;
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%); /* Or a specific pixel value */
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%); /* Or a specific pixel value */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background: linear-gradient(135deg, #1f2937 0%, #0e182e 100%);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  color: rgb(240, 93, 39);
  margin-top: 0;
}

h3 {
  font-size: 0.8em;
}

.form {
  text-align: center;
  width: 30%;
  min-width: 400px;
  border-radius: 15px;
  background: hsl(217, 28%, 17%);
  padding: 25px 2vw 2vw;
  box-shadow: 0 0 2rem #00000041;
}

#login div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form div input,
#login div button,
.form input,
.form button {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 12px 12px; /* Use the same padding for both */
  font-size: 1em; /* Optional: ensures text size matches */
  border: 1px solid rgba(128, 128, 128, 0.514); /* For input, button can override */
}

.hint {
  color: #82858b;
}

#login div label,
.form label {
  align-self: flex-start;
  margin-bottom: 0.7vh;
  margin-left: 0.2vw;
  font-size: 0.9em;
}

#login div input,
.form input {
  color: white;
  background-color: #3f4b58;
  margin-bottom: 2vh;
  border: 1px solid rgba(128, 128, 128, 0.514);
  /* Remove height property */
}
#login div button,
.form button {
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  background: linear-gradient(to right, #008080 0%, cyan 100%);
  transition: 0.5s;
  padding-bottom: 15px;
  padding-top: 15px;
}
#login div button:hover,
.form button:hover {
  background: linear-gradient(to right, #015858 0%, rgb(2, 211, 211) 100%);
}
#login p {
  font-size: small;
}
.badge {
  font-size: 0.65rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

#login div input::placeholder {
  color: #b0b4bb; /* Choose your desired color */
  opacity: 1; /* Optional: ensures full opacity */
}

#error {
  display: none;
  background-color: #961f1f60;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #ff4d4d;
}

#datos-container {
  display: block;
}
#datos-container div {
  display: block;
  text-align: left;
  margin-top: 2vh;
}

#datos-container p {
  margin-bottom: 1vh;
}
#welcome {
  color: lightgreen;
  margin-top: 2vh;
}
